.logo {
    text-align: center;

    img {
        height: 64px;
    }

    span {
        font-size: 30px;
        color: white;
        height: 64px;
        vertical-align: middle; 
        margin-left: 5px;
    }
}