.logo {
    text-align: center;

    img {
        height: 64px;
    }

    span {
        font-size: 30px;
        color: white;
        height: 64px;
        vertical-align: middle; 
        margin-left: 5px;
    }
}

.header {
    background-color: #fff;
    padding: 0;
}

.content { 
    height: 100%;
    overflow: hidden;

    :global{
        .ant-tabs {
            height: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            .ant-tabs-bar {
                flex: 1 1 40px;
                margin: 0;
            }

            .ant-tabs-content {
                flex: 1 1 auto;
                overflow: hidden;
                height: 100%;

                .ant-tabs-tabpane {
                    height: 100%;
                }
            }
        }
    }
}

.switch-icon {
    line-height: 64px !important;
    font-size: 20px;
    padding: 0 24px;
    cursor: pointer;

    &:hover {
        background-color: #e6f7ff;
    }
}

.userinfo {
    cursor: pointer;
    float: right;
    right: 10px;
    padding: 0 20px;
    &:hover {
        background-color: #e6f7ff;
    }
    img {
        height:30px;
        width: 30px;
        border-radius: 50%;
    }
    a {
        margin-left: 10px;
    }
}

